body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* LOGIN */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

.login-container input,
.login-container select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

#error-msg {
    color: red;
}

/* DASHBOARD */
.navbar {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #34495e;
    height: 100vh;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #2c3e50;
}

.main {
    padding: 20px;
    flex: 1;
}

.cards {
    display: flex;
    gap: 15px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
}
